<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

<div class="header py-4">
    <div class="row align-items-center">
        <div class="col-md-9">
            <h1>Guardian System</h1>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="dropdown">
                <button class="bt dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Maurício Rafael Casagrande
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Sair</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>

<style>
  .header {
    background-color: #03426d;
    color: white !important;
    font-family: 'Nanum Gothic', sans-serif;
}
</style>